/* Bilibili */
.vp-doc a[href*="www.bilibili.com"]::before {
    content: "";
    mask: url("https://api.iconify.design/simple-icons/bilibili.svg");
    mask-size: contain;
    background-color: var(--vp-c-brand-2);
}

/* 通用样式 */
.vp-doc a::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 6px;
    opacity: 0.9;
}