:root {
  --vp-c-brand-1: #FF8CB0;
  --vp-c-brand-2: #FF6699;
  --vp-c-brand-3: #E84B85;
  }
  
  .dark {
    --vp-c-brand-1: #FF8CB0;
    --vp-c-brand-2: #FF6699;
    --vp-c-brand-3: #E84B85;

  }
  
  :root {
    /* hero标题渐变色 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
  
    /*hero logo背景渐变色 */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
    --vp-home-hero-image-filter: blur(40px);
  }
  
   :root {
    --vp-button-brand-border: #FF8CB0;
    --vp-button-brand-text: #ffffff;
    --vp-button-brand-bg: #E84B85;
  
    --vp-button-brand-hover-border: #FF8CB0;
    --vp-button-brand-hover-text: #ffffff;
    --vp-button-brand-hover-bg: #FF6699;
  
    --vp-button-brand-active-border: #FF8CB0;

    --vp-c-sponsor: #E84B85;
  } 

  .VPDoc h1 {
    background: -webkit-linear-gradient(10deg, #E84B85 5%, #FF6699 15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .rounded-image {
    border-radius: 8px;
  }

  .VPFeatures .items .item {
    transition: transform 0.3s;
  }
  
  .VPFeatures .items .item:hover {
    transform: translateY(-5px);
  }

  .VPFooter {
    border-top: 0px solid #e84b8542 !important;
  }

  .VPMenu {
    border-top: 0px solid #e84b8542 !important;
  }

  .VPLocalNav.has-sidebar > div > div > div {
    gap: 0;
  }