:root {
  --vp-c-brand-1: #00AEEC;
  --vp-c-brand-2: #40C5F1;
  --vp-c-brand-3: #80DAF6;
}

.dark {
  --vp-c-brand-1: #FF8CB0;
  --vp-c-brand-2: #FF6699;
  --vp-c-brand-3: #E84B85;

}

:root {
  --vp-button-brand-border: var(--vp-c-brand-3);
  --vp-button-brand-bg: var(--vp-c-brand-1);

  --vp-button-brand-hover-border: var(--vp-c-brand-3);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);

  --vp-button-brand-active-border: var(--vp-c-brand-3);
  --vp-button-brand-active-bg: var(--vp-c-brand-3);

  --vp-c-sponsor: var(--vp-c-brand-1);
}

.dark {
  --vp-button-brand-border: var(--vp-c-brand-1);
  --vp-button-brand-bg: var(--vp-c-brand-3);

  --vp-button-brand-hover-border: var(--vp-c-brand-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);

  --vp-button-brand-active-border: var(--vp-c-brand-1);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);

  --vp-c-sponsor: var(--vp-c-brand-3);
}

.VPDoc h1 {
  background: -webkit-linear-gradient(10deg, var(--vp-c-brand-1) 5%, var(--vp-c-brand-2) 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .VPDoc h1 {
  background: -webkit-linear-gradient(10deg, var(--vp-c-brand-3) 5%, var(--vp-c-brand-2) 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  border-radius: 12px;
}

.VPFeatures .items .item {
  transition: transform 0.3s;
}

/*.VPFeatures .items .item:hover {
  transform: scale(1.03, 1.03);
  transform: translateY(-5px);
  outline-style: solid;
  outline-color: #FF6699;
  outline-width: 2px;
  border-radius: 16px;
}*/

.VPFooter {
  border-top: 0px !important;
}

.VPMenu {
  border-top: 0px !important;
}

.VPLocalNav.has-sidebar>div>div>div {
  gap: 0;
}

.DocSearch-Button {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.dark .DocSearch-Button {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.divider {
  display: none;
}

.VPFeature:hover {
  transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1.03, 1.03);
  outline-style: solid;
  outline-color: var(--vp-c-brand-2);
  outline-width: 2px;
  border-radius: 12px;
}

.VPNavBarMenuLink:hover {
  transition: transform 0.2s;
  transform: scale(1.03, 1.03);
}

.VPNavBarTitle:hover {
  transition: transform 0.2s;
  transform: scale(1.03, 1.03);
}

.VPNavBarMenuGroup:hover {
  transition: transform 0.2s;
  transform: scale(1.03, 1.03);
}

.VPHero.has-image .actions .action:hover {
  transition: transform 0.2s;
  transform: scale(1.03, 1.03);
}

.custom-block.danger a,
.custom-block.danger code {
  color: var(--vp-c-brand-1);
  --vp-c-danger-2: var(--vp-c-brand-1);
}

.dark .custom-block.danger a,
.custom-block.danger code {
  color: var(--vp-c-brand-1);
  --vp-c-danger-2: var(--vp-c-brand-3);
}

.VPButton.brand {
  border-width: 2px;
}